[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProfileLadder"]
	path = ProfileLadder
	url = https://github.com/42463863/profileladder
